@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Red+Hat+Display:wght@400;700&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url("./components/images/workout.jpg");
    background-size: "cover";
    height: 100vh;
    background-repeat:no-repeat; 
}

h1 {
    font-size: 3.5em;
    text-align: left;
    margin: 2rem 0 2rem 2.5rem;
    color: #dc3a61;
    font-family: 'Audiowide', cursive;
}

h2 {
    text-align: center;
    color: #dc3a61;
    font-size: 1.85em;
}

h3 {
    display: inline-block;
    display: table-cell; 
    vertical-align: middle;
}

.item {
    height: 5%; 
    display: table;
    width:100%;
    margin-bottom: 1rem;
}

span {
    display: table-cell; 
    vertical-align: middle;
    text-align: right;
    color: #dc3a61;
    font-weight: bold;
}

p {
    text-align: center;
    margin-bottom: 1.5em;
    color: #01a4b9;
    font-size: 1.25em;
}

@media screen and (max-width: 600px) {
    h1 {
        text-align: center;
        margin: 1rem auto;
    }
}
